@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color1: #94d6f1;
    --color2: #0c1014;
    --color3: #d6445c;
    --color4: #fefdfc;
}

* {
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    /* width: 100%; */
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    height: 80px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 10px 10px 10px;
}

input[type="text"] {
    /* background-color: #d6445c; */
    /* height: fit-content; */
}

input[type="button"] {
    background-color: var(--color3);
    /* border-style: none; */
    border-radius: 50px;
    padding: 10px;
} 

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

section * {
    margin: 5px 0;
}

section h2 {
    margin: 10px 0 20px;
}
footer {
    display: flex;
    justify-content: center;
    /* position: -webkit-sticky; */
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 20px 0 10px;
}

footer a {
    margin: 0 5px;
    color: var(--color2);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}